extends layout

block content
    h1 Chat Rooms
    a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored(href='/admin/rooms/add') Create New Chat Room
    br
    br
    table#rooms.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
        thead
            tr
                th Name
                th ID
        tbody
            each room in rooms
                tr
                    td= room.id
                        a(href='/admin/rooms/delete/#{room.id}'): span.mdl-badge(data-badge='x')
                    td= room.name
