form.add-room .mdl-textfield {
    width: 100%;
}
.mdl-button {
    margin-right: 10px;
}
table#rooms thead th {
    font-size: 20px;
}
table#rooms tbody {
    font-size: 18px;
}
table#rooms td a {
    margin-left: 10px;
}
textarea {
    width: 100%;
}
